.Hero {
    display: flex;
    width: 100%;
    height: 90vh;
    border: 2px dashed blue;
    align-items: center;
    padding: 0 100px;
}

.Hero .hero__text {
    margin-right: 50px;
}

.Hero .hero__text .hero__input {
    display: flex;
}

.Hero .hero__text .hero__input input {
    width: 150px;
    height: 40px;
    outline: none;
}

.Hero .hero__text .hero__input button {
    width: 70px;
    background-color: #8200D2;
    border: none;
    color: white;
    font-weight: 500px;
}

.hero__images {
    display: flex;
    gap: 50px;
}

.flex__image {
    height: 500px;
    width: 180px;
    border-radius: 25px;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-size: cover;
    background-position: center;
}

.flex__image.hovered {
    width: 360px;
}    

.flex__image p {
    z-index: 5000;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.flex__image.hovered p {
    transform: rotate(-90deg);
    bottom: 70px;
    left: -20px;
}

.flex__image.face {
    background: url('../../assets/FaceModellingsmall.png') no-repeat;
}

.flex__image.face.flex__image.hovered {
    background: url('../../assets/FaceModelling.png');
}

.flex__image.commercial {
    background: url('../../assets/CommercialModellingsmall.png');   
}

.flex__image.commercial.hovered {
    background: url('../../assets/CommercialModelling.png');
}

.flex__image.runway {
    background: url('../../assets/runwaymodellingsmall.png');
}

.flex__image.runway.hovered {
    background: url('../../assets/runwaymodelling.png');
}

.flex__image.editorial {
    background: url('../../assets/editorialmodellingsmall.png');
}

.flex__image.editorial.hovered {
    background: url('../../assets/Editorialmodelling.png');   
}